@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600,700,800,900');
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    white-space: normal;
    line-height: normal;
    background: #F5F2F2;

}
body.ReactModal__Body--open {
    overflow: hidden;
}
.App.container{width: 100%; padding: 0;}
.row{margin: 0; padding: 0; height: 500px; display: block;}
.App-banner{
    background-image: url("http://i63.tinypic.com/mvnc3t.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    background-size: cover;
}
.App-logo{
    margin: 0 auto;
    margin-top: 310px;
    height: 150px;
    display: block;
}
.App-identity{
    padding-top: 200px;
    color: #FE0000;
}
.App-name{
    font-size: 32px;
}
.App-identity span{
    font-weight: 100;
}
.glyphicon{
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 100%;
    font-size: 50px;
}
.glyphicon-send{
    color: #5D5D5D;
    background: #ABE266;
    margin-left: 300px;
    margin-top: 20px;
    position: absolute;
}
.glyphicon-console{
    color: #fff;
    background: #000;
    margin-left: 350px;
    margin-top: 200px;
    position: absolute;
}
.glyphicon-blackboard{
    color: #fff;
    background: #FFA600;
    margin-left: 220px;
    margin-top: 340px;
    position: absolute;
}
.glyphicon-stats{
    color: #fff;
    background: #6CC4F0;
    margin-left: 40px;
    margin-top: 300px;
    position: absolute;
}
.App-title{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}
.App-writeups, .App-title{
    color: #fff;
}
.App-walks{
    background: #979797;
    overflow: hidden;
    text-align: center;
    height: 600px;
}

.App-franchise{
    background: #fff;
    overflow: hidden;
    text-align: center;
    height: 780px;
    background-image: url("http://i63.tinypic.com/2po1t93.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.App-franchise .App-title{
    color: #FE0000;
}
.App-franchise .package p{
    background-image: url("http://i65.tinypic.com/9ao2g7.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    line-height: 92px;
    width: 500px;
    text-align: center;
    color: #fff;
    font-weight: 800;
}
.App-franchise img{
    height: 600px;
}
.App-walks .App-writeups{
    padding: 0 10%;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 100;
}
.App-walks .App-support img{
    width: 250px;
    margin-top: 60px;
}
.App-walks a{
    display: inline;
    padding: 20px 40px;
    font-size: 36px;
    font-weight: 100;
    border-radius: 55px;
}
.App-hobbies{
    text-align: center;
    background: #FFA600;
}
.App-hobbies img{
    margin-top: 80px;
    margin-right: 80px;
    height: 150px;
    width: 150px;
}
.App-products{
    background: #000;
    height: 700px;
    overflow: hidden;
}
.App-products img{
    width: 100%;
}
.App-products .App-title{
    margin-bottom: -100px;
    z-index: 1;
    position: absolute;
    width: 100%;
    background: #0000007d;
    padding: 20px;
    margin-top: 0px;
}
.App-service{
    background: #000;
    height: 700px;
}
.App-service img{
    position: absolute;
}
.App-service img.wmt{
    left: 40px;
}
.App-service img.tvl{
    right: 100px;
}
.App-service img.hc{
    left: 440px;
    margin-top: 100px;
}
.App-service img.sch{
    left: 140px;
    margin-top: 250px;
}
.App-service img.bz{
    left: 440px;
    margin-top: 350px;
}
.App-service img.fn{
    left: 48%;
    margin-top: 200px;
}
.App-service img.dng{
    right: 200px;
    margin-top: 300px;
}
.App-meeting{
    height: 600px;
    font-weight: 100;
}
.App-meeting label{
    font-weight: 100;
}
.App-meeting::before{
    background-image: url("http://i68.tinypic.com/2qter5s.jpg");
    background-size: cover;
    height: 600px;
    width: 100%;
    position: absolute;
    opacity: 0.2;
}
.App-meeting .App-title{
    color: #FE0000;
}
.App-meeting input, .App-meeting textarea{
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 10px;
    resize: none;
}
.App-meeting textarea{
    height: 100px;
}
.App-meeting button{
    width: 220px;
    height: 50px;
    border-radius: 25px;
    float: right;
}
.App-meeting .info{
    font-size: 32px;
    margin-top: 30px;
    text-align: center;
}
.App-meeting ul{
    margin-top: 20px;
    padding-left: 20px;
}
.App-meeting ul li{
    list-style: none;
    font-size: 24px;
    margin-bottom: 10px;
}
.App-meeting .glyphicon{
    text-align: center;
    height: 22px;
    width: 22px;
    line-height: 22px;
    font-size: 22px;
    margin-right: 10px;
    color: #FFA600;
}
.App-power{
    height: 20px;
    padding-top: 10px;
    text-align: center;
    color: #4446;
}
.App-power img{
    width: 18px;
    height: 18px;
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 500px) {
    .App-banner{
        text-align: center;
    }
    .App-logo{
        margin: 0 auto;
        margin-top: 305px;
        margin-bottom: 20px;
        width: 100%;
    }
    .App-identity{
        padding: 0;
    }
    .App-title{
        font-size: 32px;
    }
    .App-walks{
        height: 1050px;
        text-align: center;
    }
    .App-franchise h1{
        font-size: 18px;
    }
    .App-franchise p{
        width: 100% !important;
        background-size: cover !important;
    }
    .App-walks .App-writeups{
        padding: 10px;
        text-align: justify;
    }
    .App-walks a{
        display: inline-block;
        padding: 15px;
        width: 85%;
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 20px;

    }
    .App-hobbies{
        height: 400px;
    }
    .App-hobbies img{
        margin: 0 auto;
        width: 35%;
        height: auto;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .App-service{
        text-align: center;
    }
    .App-service img{
        position: relative !important;
        right: 0 !important;
        left: 0 !important;
        margin: 0 auto !important;
        margin-right: 15px !important;
        margin-top: 15px !important;
        width: 100px;
        height: 100px;
    }
    .App-products{
        height: 150px;
    }
    .App-meeting ul li{
        font-size: 16px;
    }
    .App-meeting .glyphicon{
        height: 14px;
        width: 14px;
        font-size: 14px;
    }
    .App-meeting{
        padding-top: 10px;
        height: 500px;
        margin-top: -10px;
        margin-bottom: 50px;
    }
    .App-meeting label{
        font-size: 14px;
    }
    .App-meeting button{
        float: none;
        width: 100%;
    }
    .App-power{
        margin-bottom: 20px;
    }
}
.btn.btn-dark{
    background: #343a40;
    color: #fff;
}
.btn.btn-dark:hover{
    color: #fff;
}
.btn-danger{
    background-color: #FE0000;
}